body {
    background: #dcafa9f8;
}

 


h1 {
    text-align: center; font-size: 50px;
}

h2 {
    text-align: center;
    text-align: center; font-size: 30px;
    color: rgb(230, 212, 197);
    
}

h3 {
    text-align: center;
    text-align: center; font-size: 30px;
    color: rgb(191, 127, 71);
}

p {
   text-align: center;
}

#missão {
    font-size: 30px;
}

em strong {
    color: rgb(48, 135, 150);
}

h4 {
    text-align: center; font-size: 30px;
}

h5{
    text-align: center; font-size: 15px;

}

.itens {
    font-style: italic;
}



 